name: Success Pipeline

on:
  push:
    branches: [main]
 
jobs:
  success:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2
           -run:echo "Pipeline executed successfully!"


        - run: npm install